HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

# Variables de entorno (nunca subir credenciales)
.env
.env.local

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log
logs/

# Credenciales 
src/main/resources/application.yml

*.pem
GenerateKeys.java
GenerateKeys.class

k8s/secret.yaml
k8s/secret-db.yaml
k8s/secret-jwt.yaml